<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>title_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{500,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,340}</string>
			</dict>
			<key>exit_menu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>exit_menu_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,0},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>multi_menu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,70},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>multi_menu_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,70},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>option_menu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,140},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>option_menu_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,140},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>single_menu_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,210},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>back.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,280},{50,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,20}</string>
			</dict>
			<key>create.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,280},{50,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,20}</string>
			</dict>
			<key>login.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,280},{50,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,20}</string>
			</dict>
			<key>member.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,280},{50,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,20}</string>
			</dict>
			<key>single_menu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,210},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Menu.png</string>
			<key>realTextureFileName</key>
			<string>Menu.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>