<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>monster_01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,440},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,470},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,480},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,490},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,500},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,500},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,500},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>death_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,490},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>death_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,490},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>death_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,490},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>death_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,490},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,490},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,490},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,490},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,440},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{550,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>range.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>number_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,400},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,415},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,430},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,445},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,490},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,490},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,490},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,490},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,490},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,490},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_col.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,490},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>infor_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{480,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,60}</string>
			</dict>
			<key>Soul.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,400},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>soul_number_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,450},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,500},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,510},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,490},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,490},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,490},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,490},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,490},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,490},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,490},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>