<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,240},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,980},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>death_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,850},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>death_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,850},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>death_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,540},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>death_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,762},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Gamble.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,980},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,32},{30,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,5}</string>
			</dict>
			<key>hp_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,0},{32,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,7}</string>
			</dict>
			<key>infor_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{480,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,60}</string>
			</dict>
			<key>Label.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,0},{200,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,15}</string>
			</dict>
			<key>mix.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,980},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>monster_01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,792},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,822},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,762},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,792},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,730},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,822},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,760},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,790},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,852},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,882},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,912},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,942},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,972},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,820},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,850},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,880},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,910},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,940},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,970},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,570},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,540},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,500},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,600},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,630},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,660},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,690},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,720},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,750},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,780},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,570},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,530},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,500},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,600},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,630},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,660},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,690},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,720},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,810},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,750},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,780},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,840},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,870},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,900},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,930},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,960},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>number_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,270},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,285},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,300},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,315},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,330},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,345},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,360},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,375},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,390},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,405},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_col.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,420},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>range.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,990},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>skip_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,730},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Soul.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,980},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>soul_number_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,250},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,260},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,450},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,450},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,460},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,460},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,470},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,470},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,480},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,480},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>unit_left_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,810},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,840},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,870},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,900},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,930},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,960},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,990},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,560},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,530},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,500},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_atk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_atk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_atk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_left_atk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,590},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,620},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,650},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,680},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,710},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,740},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,770},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,560},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,530},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,500},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_atk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_atk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_atk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,590},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unit_right_atk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,620},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>upgrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,570},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{550,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>down_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,62},{9,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,8}</string>
			</dict>
			<key>esc_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,435},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>ok_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,200},{40,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,12}</string>
			</dict>
			<key>soul_select_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>up_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,70},{9,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,8}</string>
			</dict>
			<key>gamble_select_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>select_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,200},{40,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,12}</string>
			</dict>
			<key>A_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,610},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>B_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,650},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>C_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,690},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>D_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,730},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>S_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,770},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>SS_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,810},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>upgrade_select_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,200},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>A_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,570},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>B_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,500},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>C_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,400},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>capsule_select_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,250},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>D_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,440},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>S_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,610},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>SS_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,650},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,690},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>boss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,500},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>boss_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>
			<key>boss_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,240},{10,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Thing.png</string>
			<key>realTextureFileName</key>
			<string>Thing.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>