<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,480},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>boss_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,0},{10,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,30}</string>
			</dict>
			<key>down_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,172},{9,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,8}</string>
			</dict>
			<key>gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{550,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>hp_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,30},{32,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,7}</string>
			</dict>
			<key>Label.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,400},{200,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,15}</string>
			</dict>
			<key>monster_01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,400},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,430},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,460},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,490},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,520},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,640},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,670},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,760},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,640},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,600},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,670},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,700},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,730},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,760},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,630},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_01_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,600},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,660},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,690},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,720},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,750},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,630},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,600},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,660},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,690},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,720},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,630},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,600},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,660},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,690},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,720},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_02_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,750},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,630},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,660},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,690},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,720},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,600},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,630},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,660},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,690},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,720},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,750},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,750},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,780},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,790},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,790},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>monster_03_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,800},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>range.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>soul_number_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,62},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,72},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,82},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,92},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,102},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,112},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,122},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,132},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,142},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>soul_number_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,152},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>up_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,180},{9,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,8}</string>
			</dict>
			<key>background.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>infor_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,0},{480,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,60}</string>
			</dict>
			<key>capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,550},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,590},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Gamble.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,630},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,670},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>mix.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,710},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,820},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Soul.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>skip_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,820},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>upgrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,740},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>capsule_select_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>friend_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,400},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>gamble_select_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,550},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>soul_select_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,550},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>upgrade_select_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,750},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>number_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,550},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,565},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,580},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,595},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,610},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,625},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,640},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,655},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,670},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,685},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>number_col.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,700},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>A_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,740},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>B_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,740},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>C_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,780},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>D_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,740},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>S_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,780},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>SS_capsule.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,740},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>A_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,600},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>B_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,640},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>C_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,680},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>D_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,780},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>S_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,720},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>SS_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,600},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>esc_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,715},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>ok_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,820},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>select_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,820},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>boss_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,750},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>
			<key>bullet_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,640},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>bullet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,680},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>bullet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,760},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>bullet_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,720},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>bullet_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,600},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>death_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>death_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>death_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,670},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>death_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,600},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>death_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,670},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>death_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,780},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>death_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,600},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>death_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,670},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,162},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Thing.png</string>
			<key>realTextureFileName</key>
			<string>Thing.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>